.footer {
  width: 100vw;
  height: 60px;
  background-color: grey;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: #fff;
  }
}