.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
}

.left-header {
  width: 50vw;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}

.output_app_logo {
  width: 160px;
  margin-left: 10px;
}

.search-box {
  margin-left: 7vw;
  margin-top: 11px;
}

.search-title {
  color: #fff;
  font-weight: bold;
}

.search-title-icon {
  height: 16px;
}

.search-title:hover {
  opacity: 0.5;
  cursor: pointer;
}

.search-list {
  width: 165px;
  position: relative;
  z-index: 1;
  margin-top: 5px;
  color: #6A6A6A;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-left: 5px solid yellowgreen;
}

.search-list-parent {
  border-top: 1px solid #ccc;
  padding: 8px 5px 8px 15px;
}

.search-list-parent:hover {
  cursor: pointer;
}

.search-category-list a {
  color: grey;
}

.search-list-child {
  padding: 0px 5px 8px 15px;
}

.search-input {
  height: 22px;
  width: 90px;
  font-size: 13px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 1px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-btn {
 
  font-size: 16px;
 
  cursor: pointer;

}

.right-header {
  width: 50vw;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.signed-in-list {
  display: flex;
  align-items: center;
}

.like-list-btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 20px;
  font-size: 14px;
}

.like-list-btn-small {
  color: burlywood;
  background-color: #fff;
  padding: 3px 10px;
  margin-right: 20px;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: none;
}

.new-item-btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 20px;
  font-size: 14px;
}

.new-item-btn-small {
  color: burlywood;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0.5px 7.2px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  display: none;
}


.header-avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border: 1px solid burlywood;
  border-radius: 70px;
}

.not-signed-in-list {
  display: flex;
  align-items: center;
}

.sign-in-btn {
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
}

.second-header {
  height: 60px;
  width: 100vw;
  display: flex;
  background-color: burlywood;
}

.second-logo-box {
  width: 15vw;
  margin: 10px;
}

.hidden{
  display: none;
}

@media screen and (max-width: 768px) {

  .left-header {
    padding: 10px 0;
  }

  .search-title-icon {
    height: 18px;
  }
  
  .search-title span {
    display: none;
  }

  .like-list-btn {
    display: none;
  }

  .like-list-btn-small {
    display: block;
  }

  .new-item-btn {
    display: none;
  }

  .new-item-btn-small {
    display: block;
  }

  .search-btn {
    font-size: 13px;
    cursor: pointer;
  }
}