.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
}

.left-header {
  width: 50vw;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}

.output_app_logo {
  width: 160px;
  margin-left: 10px;
}

.right-header {
  width: 50vw;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.signed-in-list {
  display: flex;
  align-items: center;
}

.icon-home-brown {
  width: 38px;
  margin-right: 22px;
  margin-bottom: -5px;
}

.tl-list-btn {
  height: 31px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-right: 20px;
  font-size: 14px;
  font-family: "Yu Gothic", "ヒラギノ角ゴ ProN", monospace;
}

.like-list-btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 12px 5px 5px;
  margin-right: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.icon-like-white {
  width: 20px;
  margin: 0 3px;
}

.like-list-btn-small {
  width: 28px;
  margin-right: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: none;
}

.new-item-btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 4px 12px 4px 5px;
  margin-right: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.icon-new-white {
  width: 22px;
  margin-right: 2px;
}

.icon-bell {
  width: 25px;
  margin-right: 20px;
  margin-bottom: -5px;
}

.header-avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border: 1px solid burlywood;
  border-radius: 70px;
  margin-right: 10px;
}

.not-signed-in-list {
  display: flex;
  align-items: center;
}

.sign-in-btn {
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
}

.second-header {
  height: 60px;
  width: 100vw;
  display: flex;
  background-color: burlywood;
}

.second-logo-box {
  width: 15vw;
  margin: 10px;
}

.hidden{
  display: none;
}

@media screen and (max-width: 768px) {

  .left-header {
    padding: 10px 0;
  }

  .icon-home-brown {
    display: none;
  }

  .tl-list-btn {
    display: none;
  }

  .like-list-btn {
    display: none;
  }

  .like-list-btn-small {
    display: block;
  }

  .new-item-btn {
    display: none;
  }

  .header-avatar {
    display: none;
  }
  
}