<header class='header'>
  <div class='left-header'>
    <div class='logo-box'>
    </div>
    <div class='search-box'>
    </div>
  </div>

  <div class='right-header'>
    <div class='new-item-box'>
    </div>
    <div class='mypage-box'>
    </div>
  </div>
</header>