<header class='header'>
  <div class='left-header'>
    <div class='logo-box'>
    </div>
    <div class='search-box'>
    </div>
  </div>

  <div class='right-header'>
    <div class='new-item-box'>
    </div>
    <div class='mypage-box'>
      <ul class='lists-right'>
      <%# ログイン有無の条件分岐 %>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.username}さんのマイページ", user_path(current_user.id), class: "user-nickname" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      <%# // ログイン有無の条件分岐 %>
    </ul>
    </div>
  </div>
</header>