<% if current_user.already_liked?(@item) %>
  <%= link_to item_like_path(@item.id), method: :delete do %>
    <div class='show-top-liked-btn'>
      <span>LIKE ✔︎ 100</span>
    </div>
  <% end %>
<% else %>
  <%= link_to item_likes_path(@item.id), method: :post do %>
    <div class='show-top-like-btn'>
      <span>LIKE ✔︎ 100</span>
    </div>
  <% end %>
<% end %>