<%# デザイン募集 >
<div class= "sign-top-content">
  <div class='pr'>
    <span>デ</span>
    <span>ザ</span>
    <span>イ</span>
    <span>ン</span>
    <span>を</span>
    <span>考</span>
    <span>え</span>
    <span>て</span>
  </div>
  <div class='pr'>
    <span>く</span>
    <span>れ</span>
    <span>る</span>
    <span>人</span>
    <span>大</span>
    <span>募</span>
    <span>集</span>
  </div>
  <a href="https://twitter.com/gonblog">>> 運営Twitterアカウント</a>
</div>
<%# デザイン募集 %>