a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

.main {
  background-color: #f0f0f0;
  display: flex;
}

.top-left-content {
  height: 75vh;
  width: 70vw;
  margin: 10px 10px 10px 20px;
  background-color: #fff;
}

.top-right-content {
  height: 75vh;
  width: 30vw;
  margin: 10px 20px 10px 0;
  background-color: #fff;
}