a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

.main {
  background-color: #f0f0f0;
  display: flex;
}

.top-left-content {
  width: 100%;
  margin: 10px 10px 10px 20px;
  display: flex;
  background-color: #fff;
}

.top-left-content-child {
  width: 100%;
}

.item-list-navi {
  height: 25px;
  margin: 5px;
  padding-left: 20px;
}

.item-list {
  height: 110px;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  list-style: none;
  margin: 1px;
  display: flex;
}

.list-profile-content {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-avatar {
  width: 45px;
  border: 1px solid #fff;
  border-radius: 70px;
  margin-top: 10px;
}

.list-username {
  font-size: 12px;
  word-break: break-all;
  text-align: center;
}

.list-main-content {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

.list-title-content {
  height: 45%;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 10px 5px 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.list-cate-tag-content {
  height: 35%;
  display: flex;
  align-items: center;
}

.list-category {
  display: flex;
  font-size: 12px;
  color: grey;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px 5px;
  white-space: nowrap;
}

.list-tag {
  height: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 13px;
  color: grey;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.list-detail-content {
  height: 20%;
  margin-bottom: 2px;
}

.list-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.list-like-comment {
  display: flex;
  align-items: center;
}

.list-like-count {
  font-size: 12px;
  margin: 0 10px 0 5px;
}

.list-comment-count {
  font-size: 12px
}


.list-created-at {
  font-size: 11px;
  margin-right: 10px;
}


.top-right-content {
  height: 80vh;
  width: 30vw;
  max-width: 300px;
  min-width: 200px;
  margin: 10px 20px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.user-analytics {
  height: 45%;
  width: 95%;
  margin-top: 8px;
  background-color: beige;
}