<div class='guest-login-box'>
  <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:'guest-login-btn' %>
  <%= link_to 'ユーザー登録', new_user_registration_path, class: "sign-up-btn" %>
</div>