<%= render "shared/header" %>
<div class='main'>
  <%# Left : item-all %>
  <div class='top-left-content'>
  </div>
  <%# // Left : item-all %>

  <%# Right : user-box %>
  <div class='top-right-content'>
  </div>
  <%# // Right : user-box %>
</div>
<%= render "shared/footer" %>