<%= render "shared/header" %>
<div class='main'>
  <%# 左側 投稿一覧 %>
  <div class='left-content'>
  </div>
  <%# // 左側 投稿一覧 %>

  <%# 右側 ユーザー情報 %>
  <div class='right-content'>
  </div>
  <%# // 右側 ユーザー情報 %>
</div>
<%= render "shared/footer" %>