.guest-login-box {
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("/images/guest_login_box_background.png");
  background-position: center;
  background-size: cover;
  padding: 0 20vw;
}

.guest-login-btn {
  border: 1.5px solid #fff;
  padding: 8px 20px;
  color: #fff;
}

.sign-up-btn {
  border: 1.5px solid #fff;
  padding: 8px 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .guest-login-box {
    padding: 0 5vw;
  }

  .guest-login-btn {
    font-size: 14px;
    border: 1px solid #fff;
  }
  .sign-up-btn {
    font-size:14px;
    border: 1px solid #fff;
  }
}