.notice-list-navi {
  height: 25px;
  margin: 20px 0px 0px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  font-weight: bold;
  color: #4a4a4a;
  padding-bottom: 10px;
}

.notice-list {
  border-bottom: 1px solid #f0f0f0;
  list-style: none;
  margin: 1px;
  display: flex;
}

.notice-profile-content {
  height: 100%;
  width: 80px;
  box-sizing: border-box;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 70px;
}

.list-main-content-notice {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

.list-notice-message {
  min-height: 25px;
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
  color: #6a6a6a;
  box-sizing: border-box;
  padding-right: 15px;
}

.list-notice-message a {
  font-weight: bold;
  color: #4a4a4a;
}

.list-notice-date {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #8a8a8a;
  margin: 3px 0;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .notice-profile-content {
    width: 60px;
  }

  .list-main-content-notice {
    width: calc(100% - 60px);
  }

  .list-notice-message {
    padding-right: 10px;
  }
}