.sign-main {
  background-color: #fff;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-top-content {
  width: 100vw;
  padding: 10px 10px 20px;
  color: #fff;
  background-color: mediumaquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pr {
  width: 95%;
  height: 8vw;
  display: flex;
  justify-content: space-between;
  font-size: 7vw;
  font-weight: bold;
}

.sign-top-content a {
  color: #fff;
  text-decoration: underline;
  margin: 5vw 0 5px;
}

.sign-top-content p {
  font-size: 14px;
}

.sign-bottom-content {
  height: 330px;
  width: 80vw;
  margin-top: 3vw;
  padding: 10px;
  display: flex;
}

.sign-title {
  font-weight: bold;
  color: #4a4a4a;
  margin-left: 3vw;
}

.sign-form-box {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sign-field {
  height: 50px;
  width: 35vw;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.regist {
  height: 50px;
  width: 35vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.session {
  height: 50px;
  width: 35vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.sign-input {
  width: 26vw;
  height: 25px;
  margin-top: 5px;
  padding: 5px 20px;
  background-color: #fff;
  font-size: 14px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.regist-btn {
  width: 150px;
  height: 45px;
  margin-top: 3px;
  padding: 5px 20px;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 14px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.session-btn {
  width: 150px;
  height: 45px;
  margin-top: 3px;
  padding: 5px 20px;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 14px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.sign-sns-box {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #CCC;
  color: grey;
  font-weight: bold;
}