.second-main {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-content {
  height: 30vh;
  width: 80vw;
  padding: 10px;
  background-color: lightseagreen;
}

.bottom-content {
  height: 50vh;
  width: 80vw;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  background-color: lightslategray;
}

.form-box {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightsteelblue;
}

.field {
  height: 50px;
  width: 35vw;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: linen;
}

.regist {
  height: 50px;
  width: 35vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: mistyrose;
}

.session {
  height: 50px;
  width: 35vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: mistyrose;
}

.input {
  width: 25vw;
  height: 25px;
  margin-top: 5px;
  padding: 5px 20px;
  background-color: #fff;
  font-size: 14px;
  resize: none;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.regist-btn {
  width: 150px;
  height: 45px;
  margin-top: 3px;
  padding: 5px 20px;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 14px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.session-btn {
  width: 150px;
  height: 45px;
  margin-top: 3px;
  padding: 5px 20px;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 14px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.skip-box {
  height: 100%;
  width: 50%;
  background-color: lightyellow;
}