.user-main {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 120px);
}

.user-right-content {
  width: 300px;
  margin: 10px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.output {
  margin: 15px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: #4a4a4a;
}

.user-card {
  height: 250px;
  width: 95%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.user-menu-btn {
  font-weight: bold;
  font-size: 20px;
  color: #8a8a8a;
  position: absolute;
  z-index: 1;
  right: 10px;
  cursor: pointer;
}

.user-menu {
  position: absolute;
  z-index: 1;
  right: 1px;
  top: 30px;
}

.user-menu-content {
  height: 50px;
  width: 120px;
  border: 1px solid #ccc;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.user-menu-1 {
  height: 25px;
  width: 90%;
  color: #4a4a4a;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu-2 {
  height: 25px;
  width: 95%;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-avatar {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 70px;
  margin-top: 10px;
}

.user-name {
  height: 37.5px;
  width: 90%;
  margin: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-status {
  height: 105px;
  width: 90%;
}

.user-status-top {
  height: 50px;
  margin: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-status-bottom {
  height: 50px;
  margin: 5px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-status-nums {
 font-size: 18px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.status-title {
  color: grey;
  font-size: 13px;
}

.status-number {
  font-weight: bold;
  margin-top: 3px;
  color: #000;
}

.second-user-card {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  position: relative;
  margin: 15px 0;
}

.user-intro {
  max-height: 50%;
  width: 85%;
  margin: 0 2px 15px;
  padding-left: 3px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.userpage-follow-btn {
  min-width: 180px;
  width: 19vw;
  margin: 15px 0;
  padding: 5px 0;
  box-sizing: border-box;
  color: grey;
  font-size: 15px;
  font-weight: bold;
  resize: none;
  border-radius: 3px;
  border: 2px solid grey;
  text-align: center;
}

.userpage-followed-btn {
  min-width: 180px;
  width: 19vw;
  margin: 15px 0;
  padding: 5px 0;
  box-sizing: border-box;
  color: #fff;
  background-color: grey;
  font-size: 15px;
  font-weight: bold;
  resize: none;
  border-radius: 3px;
  border: 2px solid grey;
  text-align: center;
}

.userpage-regist-suggest-btn {
  width: 90%;
  margin: 5px 0 12px;
  padding:  3px 8px;
  box-sizing: border-box;
  color: #fff;
  background-color:lightcoral;
  font-size: 13px;
  font-weight: bold;
  resize: none;
  border-radius: 3px;
  border: 2px solid lightcoral;
}

.user-website-content {
  width: 85%;
  display: flex;
  margin: 5px 0;
}

.user-website-mark {
  margin-right: 5px;
  margin-top: -2px;
}

.user-website {
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-left-content {
  width: calc(100% - 350px);
  max-width: 700px;
  margin: 10px 20px 10px 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.user-analytics {
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.activity {
  margin: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.weekly-count {
  display: flex;
  font-size: 14px;
}

.weekly-count-day {
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  background-color: #b54a4a;
  color: #fff;
}

.weekly-count-day-off {
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  background-color: #fff;
}

.status {
  margin: 20px 0;
  font-weight: bold;
  text-decoration: underline;

}

.status-count {
  display: flex;
  font-size: 13px;
}

.status-count-block {
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}

.status-count-block span {
  margin-bottom: 3px;
}

@media screen and (max-width:768px) {
  .user-main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user-left-content {
    width: 100%;
  }

  .user-right-content {
    width: 100%;
    flex-direction: row;
    max-width: 768px;
    min-width: 0px;
    margin: 0;
    padding-top: 10px;
  }

  .user-card {
    height: 210px;
    width: 50vw;
    margin: 0;
    border-right: 1px solid #ccc;
    position: static;
  }

  .user-menu-btn {
    top: 65px;
    right: 20px;
  }
  
  .user-menu {
    top: 95px;
    right: 20px;
  }

  .main-avatar {
    margin-top: 2px;
  }
  
  .user-name {
    height: 30px;
  }
  
  .user-status {
    height: 100px;
    width: 90%;
  }
  
  .user-status-top {
    height: 50px;
  }
  
  .user-status-bottom {
    height: 50px;
  }
  
  .status-title {
    font-size: 12px;
  }
  
  .status-number {
   font-size: 17px;
  }

  .second-user-card {
    width: 50vw;
    margin: 0;
    padding: 0;
  }

  .user-intro {
    width: 85%;
    margin: 5px 2px 2px;
    padding: 0;
    font-size: 12px;
  }

  .userpage-follow-btn {
    min-width: 150px;
    margin: 15px 0 5px;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid grey;
  }
  
  .userpage-followed-btn {
    min-width: 150px;
    margin: 15px 0 5px;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    resize: none;
    border-radius: 3px;
    border: 1px solid grey;
  }
  
  .userpage-regist-suggest-btn {
    margin: 8px 0 8px;
  }
  
  .user-website-content {
    justify-content: center;
  }

  .user-website-mark {
    margin-right: 1px;
    margin-top: 3px;
    font-size: 12px;
  }
  
  .user-website {
    font-size: 12px;
    margin: 5px 0 0 ;
  }
  
}

@media screen and (max-width:375px) {
  .user-name {
    font-size: 14px;
  }
  
  .status-title {
    font-size: 10px;
  }
  
  .status-number {
   font-size: 15px;
  }
  .user-intro {
    font-size: 11px;
  }
  
  .userpage-follow-btn {
    min-width: 120px;

  }
  
  .userpage-followed-btn {
    min-width: 120px;
  }

  .userpage-regist-suggest-btn {
    font-size: 12px;
  }
  
  .user-website {
    font-size: 11px;
  }
  
  .weekly-count {
    font-size: 13px;
  }
  
  .weekly-count-day {
    height: 40px;
    width: 40px;
    margin: 0 2px;
  }
  
  .weekly-count-day-off {
    height: 40px;
    width: 40px;
    margin: 0 2px;
  }
  
  .status-count {
    font-size: 12px;
  }
  
  .status-count-block {
    height: 40px;
    width: 40px;
    margin: 0 2px;
  }
  
}