.user-left-content {
  height: 75vh;
  width: 70vw;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
}

.user-item-all {
  height: 95%;
  width: 95%;
  margin-top: 10px;
  background-color: beige;
}

.user-right-content {
  height: 75vh;
  width: 30vw;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgoldenrod;
}

.user-card {
  height: 400px;
  width: 95%;
  margin-top: 5px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-avatar {
  height: 20%;
  border: 1px solid #fff;
  border-radius: 70px;
  margin-top: 10px;
}

.user-info {
  height: 40%;
  width: 90%;
  margin-top: 10px;
}

.user-name {
  height: 15%;
  margin: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-intro {
  height: 75%;
  margin: 2px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-status {
  height: 30%;
  width: 90%;
  margin-top: 5px;
}

.user-status-top {
  height: 47%;
  margin: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-status-bottom {
  height: 47%;
  margin: 5px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-status-nums {
 font-size: 14px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.status-title {
  color: grey;
  font-size: 12px;
}

.status-number {
  font-weight: bold;
  margin-top: 3px;
}

.profile-edit-btn {
  width: 18vw;
  margin: 15px 0px 10px;
  padding: 5px 20px;
  color: grey;
  font-size: 14px;
  font-weight: bold;
  resize: none;
  border-radius: 3px;
  border: 1px solid grey;
  text-align: center;
}

.user-website {
  font-size: 12px;
  margin-bottom: 10px;
  color: #000;
}

.user-analytics {
  height: 100px;
  width: 95%;
  margin-top: 8px;
  background-color: beige;
}

